body{
  background-color: #CCFFCC;
}
h1{
  color:green;
  margin: 0;
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  font-weight:500;
  text-decoration: underline;
  text-shadow: 1px 1px;
}
nav ul{
  margin:0;
  float:right;
}
nav ul li{
display:inline-block;
text-align:right;
background-color: none;
padding:10px;
margin:2px;
text-shadow: 0.9px 0.5px;
font-size: 25px;

}
nav ul li a{
  text-decoration: none;
}
nav ul li a:hover{
  background-color: red;
  border-radius: 3px;
}
